flows.json
[{"id":"53d58234.cf2afc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"61ccc4f7.58548c","type":"function","z":"53d58234.cf2afc","name":"PreToken","func":"global.set(\"cmt\",msg.payload.cmt)\nglobal.set(\"bfs\",msg.payload.bfd)\nglobal.set(\"fah\",msg.payload.fah)\nglobal.set(\"wtr\",msg.payload.wtr)\nglobal.set(\"sup\",msg.payload.sup)\nglobal.set(\"coa\",msg.payload.coa)\nglobal.set(\"fag\",msg.payload.fag)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"KcWmUrN94kpR_u3O0_MstPeRDx3G9JplZpZ68FCHMPe6\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":400,"wires":[["4bd7a4e0.553d9c"]]},{"id":"4bd7a4e0.553d9c","type":"http request","z":"53d58234.cf2afc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":460,"wires":[["a1e1ee1.0103f1","f7db9a77.3d2808"]]},{"id":"31cc1638.7cf9ea","type":"debug","z":"53d58234.cf2afc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":80,"wires":[]},{"id":"a1e1ee1.0103f1","type":"function","z":"53d58234.cf2afc","name":"Pre Prediction","func":"var cmt = global.get('cmt')\nvar bfs = global.get('bfs')\nvar fah = global.get('fah')\nvar wtr = global.get('wtr')\nvar sup = global.get('sup')\nvar coa = global.get('coa')\nvar fag = global.get('fag')\nvar age = global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"4837f3f5-ade3-44b2-b9e1-ff714ac42697\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Cement (component 1)(kg in a m^3 mixture)\", \"Blast Furnace Slag (component 2)(kg in a m^3 mixture)\", \"Fly Ash (component 3)(kg in a m^3 mixture)\", \"Water  (component 4)(kg in a m^3 mixture)\", \"Superplasticizer (component 5)(kg in a m^3 mixture)\", \"Coarse Aggregate  (component 6)(kg in a m^3 mixture)\", \"Fine Aggregate (component 7)(kg in a m^3 mixture)\", \"Age (day)\"],\"values\": [[cmt,bfs,fah,wtr,sup,coa,fag,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":380,"wires":[["cafc2be2.918188"]]},{"id":"cafc2be2.918188","type":"http request","z":"53d58234.cf2afc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/785859d9-2e3d-413e-89d9-dee4cfd4ef25/predictions","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":220,"wires":[["b6b6984.ab03768","31cc1638.7cf9ea"]]},{"id":"d9a2f9b.e35b808","type":"ui_form","z":"53d58234.cf2afc","name":"","label":"","group":"5f5a2193.636f3","order":1,"width":0,"height":0,"options":[{"label":"Cement","value":"cmt","type":"number","required":true,"rows":null},{"label":"Blast Furnace Slag","value":"bfs","type":"number","required":true,"rows":null},{"label":"Fly Ash","value":"fah","type":"number","required":true,"rows":null},{"label":"Water","value":"wtr","type":"number","required":true,"rows":null},{"label":"Superplasticizer","value":"sup","type":"number","required":true,"rows":null},{"label":"Coarse Aggregate ","value":"coa","type":"number","required":true,"rows":null},{"label":"Fine Aggregate ","value":"fag","type":"number","required":true,"rows":null},{"label":"Age (day)","value":"age","type":"number","required":true,"rows":null}],"formValue":{"cmt":"","bfs":"","fah":"","wtr":"","sup":"","coa":"","fag":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":420,"wires":[["61ccc4f7.58548c"]]},{"id":"c72a1400.d1bd78","type":"ui_text","z":"53d58234.cf2afc","group":"5f5a2193.636f3","order":2,"width":0,"height":0,"name":"","label":"Compressive Strength","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":380,"wires":[]},{"id":"b6b6984.ab03768","type":"function","z":"53d58234.cf2afc","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":220,"wires":[["31cc1638.7cf9ea","c72a1400.d1bd78"]]},{"id":"f7db9a77.3d2808","type":"debug","z":"53d58234.cf2afc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":460,"wires":[]},{"id":"5f5a2193.636f3","type":"ui_group","z":"","name":"Compressive Strength of Concrete","tab":"45cbf893.42eec8","order":1,"disp":true,"width":"6","collapse":false},{"id":"45cbf893.42eec8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]